@import url('https://fonts.googleapis.com/css?family=Outfit');

* {
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #F4F5FA;
    color: #112A46;
}

.top-text {
    text-align: center;
    font-weight: 200;
}

.main {
    font-family: "Outfit", sans-serif;
    margin-bottom: 1000px;
}

.main img {
    object-fit: contain;
    scale: 80%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-container {
    background-color: #002135;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: none; 
    outline: none;
}

#search-container div {
    width: 100%;
    height: 100px;
}

#div1 {
    background-color: white;
}

#div2 {
    background-color: white;
}

#div1-1 {
    display: flex;
    flex-direction: row;
}

#div2 {
    display: flex;
}

#div2 div {
    width: 33.3%;
    height: auto;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left:1px solid black;  

}

#div2 p{
    margin-left: 1.5rem; 
    font-size: 16px;
    margin-top: 0.5rem; 
}

#text-input {
    margin-left: 2rem;
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 20px;
    text-align: start;
    border: none; 
    outline: none; 
}

#search-btn {
    width: 150px;
    height: 50px;
    margin-left: 2rem;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: #00D084;
    outline: none;
    border: none; 
}